maven.ignoreSourceFiles=true
maven.ignoreMvnTreeErrors=true
gradle.ignoreSourceFiles=true
gradle.runPreStep=true
npm.includeDevDependencies=false
npm.runPreStep=true
npm.ignoreNpmLsErrors=true
npm.yarnProject=false
bower.runPreStep=true
bower.ignoreSourceFiles=true
nuget.runPreStep=true
paket.runPreStep=true
paket.ignoreSourceFiles=true

python.path=python3.8
python.pipPath=pip3
python.invokePipAsModule=true
python.resolveDependencies = true
python.ignorePipInstallErrors=true
python.installVirtualenv=true
python.resolveSetupFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=true
python.IgnorePipenvInstallErrors=true
python.runPoetryPreStep=true
python.requirementsFileIncludes=pyproject.toml

go.collectDependenciesAtRuntime=true
go.ignoreSourceFiles=true
sbt.runPreStep=true
r.runPreStep=true
#r.cranMirrorUrl=https=//cloud.r-project.org/
php.runPreStep=true
php.includeDevDependencies=true
ruby.installMissingGems=true
ruby.runBundleInstall=true
cocoapods.runPreStep=true
hex.runPreStep=true
haskell.runPreStep=true
haskell.ignorePreStepErrors=true

includes=**/*c **/*cc **/*cp **/*cpp **/*cxx **/*c++ **/*h **/*hh **/*hpp **/*hxx **/*h++ **/*m **/*mm **/*pch **/*c# **/*cs **/*csharp **/*go **/*goc **/*js **/*pl **/*plx **/*pm **/*ph **/*cgi **/*fcgi **/*pod **/*psgi **/*al **/*perl **/*t **/*pl6 **/*p6m **/*p6l **/*pm6 **/*nqp **/*6pl **/*6pm **/*p6 **/*php **/*py **/*rb **/*swift **/*java **/*clj **/*cljx **/*cljs **/*cljc **/*jar **/*egg **/*dll **/*tar.gz **/*tgz **/*zip **/*whl **/*gem **/*apk **/*air **/*dmg **/*exe **/*gem **/*gzip **/*msi **/*nupkg **/*swc **/*swf **/tar.bz2 **/pkg.tar.xz **/(u)?deb **/(a)?rpm

excludes=*/., **/node_modules, **/src/test, **/testdata, **/*sources.jar, **/*javadoc.jar

archiveExtractionDepth=0
archiveIncludes=**/*war **/*ear **/*zip **/*whl **/*tar.gz **/*tgz **/*tar **/*car
archiveExcludes=**/*sources.jar **/*javadoc.jar /tests/