python.path=python3.9
python.pipPath=pip3
python.invokePipAsModule=true
python.resolveDependencies = true
python.ignorePipInstallErrors=true
python.installVirtualenv=true
python.resolveSetupFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=true
python.IgnorePipenvInstallErrors=true
python.runPoetryPreStep=true
python.requirementsFileIncludes=pyproject.toml
